body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f2; /* Pembe arka plan */
    text-align: center;
    padding: 50px;
    color: #333;

    position: relative;
}
h1 {
    color: #ff69b4; /* Kırmızımsı pembe başlık */
    font-size: 3em;
}
p {
    font-size: 1.5em;
    margin: 20px 0;
}
.message {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
}
img {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
}
button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #ff1493;
}

/* Arka plan animasyonları için */
.background-element {
    position: absolute;
    font-size: 2em;
    opacity: 0;
    animation: growAndFade 5s ease-in-out infinite;
    pointer-events: none; /* Tıklanamaz yap */
}

@keyframes growAndFade {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}